.mbrief {
  width: 100%;
}
.mbrief-list {
  width: 100%;
  padding: 0.16rem;
}
.mbrief-list-item {
  width: 100%;
  display: block;
}
.mbrief-list-item .tit {
  background-color: #eee;
  width: 100%;
  border-bottom: 1px solid #bbb;
}
.mbrief-list-item .tit a {
  display: block;
  font-size: 0.4rem;
  color: #000;
  font-weight: 700;
  padding-left: 0.4rem;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
}
.mbrief-list-item .tit i {
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  padding-right: 0.26666667rem;
}
.mbrief-list-item .info ul {
  border-left: 1px solid #ccc;
}
.mbrief-list-item .info li {
  float: left;
  width: 33.33%;
}
.mbrief-list-item .info li a {
  display: block;
  width: 100%;
  line-height: 0.4rem;
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  color: #333;
  font-size: 0.32rem;
  padding: 0.26666667rem;
}
