#m_header {
  height: 1.33333333rem;
  position: relative;
  background-color: #ff841d;
}
#m_header .logo {
  padding: 0.33333333rem;
  float: left;
  width: 75%;
  margin-left: 0.13333333rem;
}
#m_header .logo img {
  max-height: 0.66666667rem;
  overflow: hidden;
}
#m_header .appdown {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2rem;
}
#m_header .appdown img {
  max-height: 0.93333333rem;
}
#m_form_search {
  height: 1.33333333rem;
  border-bottom: 1px solid #e6e6e6;
}
#m_form_search .search {
  height: 1.33333333rem;
  padding: 0.26666667rem;
  position: relative;
}
#m_form_search .search [type="search"] {
  height: 0.8rem;
  line-height: 0.8rem;
  padding-left: 0.53333333rem;
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 0.8rem;
  border: 1px solid #f1f1f1;
  font-size: 0.29333333rem;
}
#m_form_search .search [type="button"] {
  width: 1.73333333rem;
  position: absolute;
  top: 0.26666667rem;
  right: 0.26666667rem;
  height: 0.8rem;
  line-height: 0.8rem;
  border-radius: 0.8rem;
  border: 1px solid #ff841d;
  background-color: #ff841d;
  color: #fff;
  font-size: 0.29333333rem;
}
#m_nav {
  margin-top: 0.26666667rem;
}
#m_nav li {
  float: left;
  width: 25%;
  text-align: center;
}
#m_nav a {
  display: block;
  padding: 0.13333333rem 0;
}
#m_nav a.hide {
  display: none;
}
#m_nav a img {
  width: 1.46666667rem;
  height: 1.46666667rem;
}
#m_nav a p {
  font-size: 0.26666667rem;
  padding: 0.13333333rem 0;
}
.mpro_tit {
  height: 0.93333333rem;
  background-color: #ff9000;
  padding: 0 0.26666667rem;
  font-size: 0.4rem;
  line-height: 0.93333333rem;
}
.mpro_tit a {
  color: #fff;
}
.mpro_tit img {
  display: block;
  width: 0.53333333rem;
  height: 0.53333333rem;
  margin-top: 0.2rem;
}
.mpro_list li {
  height: 3.33333333rem;
  border-bottom: 1px solid #e6e6e6;
}
.mpro_list li .mitem_left {
  width: 2.8rem;
  height: 3.33333333rem;
  padding: 0.6rem 0.33333333rem;
}
.mpro_list li .mitem_left img {
  display: block;
  width: 2.13333333rem;
  height: 2.13333333rem;
}
.mpro_list li .mitem_right {
  overflow: hidden;
  height: 3.33333333rem;
  font-size: 0.33333333rem;
  padding: 0.6rem 0.33333333rem;
  position: relative;
}
.mpro_list li .mitem_right .tit {
  position: absolute;
  top: 0.6rem;
  left: 0;
}
.mpro_list li .mitem_right .tit .price {
  color: red;
}
.mpro_list li .mitem_right .other {
  position: absolute;
  bottom: 0.6rem;
  left: 0;
  width: 100%;
  color: #a1a1a1;
  font-size: 0.34666667rem;
}
.mpro_list li .mitem_right .other .tips {
  margin-right: 0.33333333rem;
}
.m_more {
  height: 1.4rem;
  line-height: 0.86666667rem;
  background-color: #f4f4f4;
  padding: 0.26666667rem;
}
.m_more a {
  display: block;
  width: 100%;
  height: 0.86666667rem;
  border: 1px solid #999;
  border-radius: 2px;
  font-size: 0.4rem;
  text-align: center;
  border-radius: 4px;
}
.mpp_tit {
  height: 0.93333333rem;
  background-color: #ff9000;
  padding: 0 0.26666667rem;
  font-size: 0.4rem;
  line-height: 0.93333333rem;
}
.mpp_tit a {
  color: #fff;
}
.mpp_tit img {
  display: block;
  width: 0.53333333rem;
  height: 0.53333333rem;
  margin-top: 0.2rem;
}
.mfooter .mft_bts {
  height: 0.93333333rem;
  margin-top: 0.13333333rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.mfooter .mft_bts a {
  display: block;
  height: 0.93333333rem;
  float: left;
  width: 30%;
  text-align: center;
  line-height: 0.93333333rem;
  font-size: 0.32rem;
}
.mfooter .mft_bts a:nth-child(2) {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.mfooter .mft_bts a:last-child img {
  width: 0.45333333rem;
  height: 0.45333333rem;
  padding-bottom: 0.06666667rem;
}
.mfooter .mft_msg {
  padding: 0.4rem 0;
}
.mfooter .mft_msg p {
  text-align: center;
  font-size: 0.32rem;
}
.mfooter .mft_msg p a {
  display: inline-block;
  font-size: 0.32rem;
}
